body {
	color: #333;
}

/*Форма*/
label {
	color: black;
}

/*Иконка topmenu*/
img.img-nav  {
	width: 16px;
	vertical-align: text-top;
}

/*Лого*/
img.logo {
	height: 3em;
	vertical-align: text-top;
	float: left;
	margin: 5px;
}

/*Иконка валюты страны*/
img.currency-icon {
	height: 64px;	
}

/*Удалить border адаптивной таблицы*/
.table-responsive {
	border: 0px;
}

.content {
	padding-top: 20px;
	background-color: #fafafa;
}

/*Дополнение стиля шрифта и фона для смартфона*/
@media (max-width: 768px) {
	    body {
			color: white;
		}
		.content {
			background-color: #002E52;
		}
}

.footer {
	color: black;
	
}	
	.footer > .panel {
		margin-bottom: 0;
	}
	.footer a:focus, a:hover {
    color: #F0B353;
}

#default-navbar{
	margin-bottom: 0;
}

/*Информация об одной валюте для всех экранов*/
.one-currency-info {
	background-color: grey;
	margin-bottom: 2em;
	border-radius: 2em;	
	padding-top: 5px;
	padding-bottom: 5px;	
}
		.one-currency-info-title {
			font-size: 2.5em;
		}
		.one-currency-info-description {
			font-size: 3.2em;
		}
		.one-currency-info-change {
			font-size: 2.6em;
		}
		.one-currency-info-pubDate {
			font-size: 1.8em;
		}
		/*Класс цвета изменения величины курса*/
		.UP {
			color: green;
		}
		.DOWN {
			color: red;
		}	

		/*Дополнение стиля информации об одной валюте для смартфона*/
		@media (max-width: 768px) {
			    .one-currency-info-title {
					font-size: 1.5em;
				}
				.one-currency-info-description {
					font-size: 2em;
				}
				.one-currency-info-change {
					font-size: 1.3em;
				}
				.one-currency-info-pubDate {
					font-size: 0.9em;
				}
		}
.news-kase-title {	
	cursor: pointer;
}
	
/****** officePage *******/
/*Строка имя пункта*/
.column-office-name {
	text-align: left;
}
	.column-office-name img {
		height: 25px;
	}
/**********/

/*строка в которой можно центрировать по вертикали ячейку*/
.row-for-middle {
  	display: table;
  	width: 100%;
  	/* fix overflow */
  	table-layout: fixed;
}
.row-for-middle-currency {
  	display: table;
  	table-layout: fixed;
}

/*отцентрованная ячейка*/
.col-middle {
	display: table-cell;
  	float: none !important;
  	vertical-align: middle;
}

/****** end OfficePage *******/

/* ResourcePage */
/*cтрока по 1 ресурсу*/
.resource-info {
	
}
	.resource-info-description {
		font-size : 9px;
	}
	.resource-info-up {
		color : green;
	}
	.resource-info-down {
		color : red;
	}
	.resource-info-price {
		margin: -5px;
		font-size : 1.3em;
	}
/*desktop version row currency view*/	
.resource-price {
	font-size: 2em;
}
.resource-description {
	font-size: 1.1em;
}
.resource-change-down {
	color: red;
	font-size: 1.2em;	
	font-weight: bolder;	
	vertical-align: bottom;
}
.resource-change-up {
	color: green;
	font-size: 1.2em;	
	font-weight: bolder;
	vertical-align: top;
}
/****** end ResourcePage *******/

/***** Footer ************/
/*счетчик посещений*/
#_zero_68336 {
	margin-top: 20px;
}



