/*
* Base structure
*/

/* Move down content because we have a fixed navbar that is 50px tall */
body
{
	padding-top: 200px;
}

#sidebar
{
	position: fixed;

	top: 0;
	bottom: 0;
	left: 0;

	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	background-color: yellow;

	/* for the animation */
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

}


.collapsed
{
	display: none;
	display: block;
	/* same width as sidebar */
	margin-left: -25%;
}


#row-main
{
	/* necessary to hide collapsed sidebar */
	overflow-x: hidden;
}

#content
{
	/* for the animation */
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}