.row-currencies {
	border: 1px solid #ddd;
}

/*Класс цвета изменения величины курса*/
.UP {
	color: green;
}
.DOWN {
	color: red;
}

.col-sm-3 {
	border:1px solid red;
}

/* TEST */

.border-red {
	border: 1px solid red;
}
.border-green {
	border: 1px solid green;
}

/* TEST */
	