/****** Default Page *******/

/*Информация об одной валюте для всех экранов*/
.main-currency {
	background-color: #FFF;
	margin: 1em;
	padding: 1em;
}
		.main-currency-title {
			font-size: 2.5em;
		}
		.main-currency-description {
			font-size: 3.2em;
		}
		.main-currency-change {
			font-size: 2.6em;
		}
		.main-currency-pubDate {
			font-size: 1.8em;
		}
		/*Класс цвета изменения величины курса*/
		.UP {
			color: green;
		}
		.DOWN {
			color: red;
		}
		.col-xs-5 img {
					height: 12em;
				}	

		/*Дополнение стиля информации об одной валюте для смартфона*/
		@media (max-width: 768px) {
			
			.main-currency {
				background-color: grey;
				border-radius: 2em;
				margin-left:0;	
				margin-right:0;
				margin-top: 0;
				margin-bottom: 1em;				
				line-height:1;
				padding:0.5em 0;	
			}
			    .main-currency-title {
					font-size: 1.5em;
				}
				.main-currency-description {
					font-size: 2em;
				}
				.main-currency-change {
					font-size: 1.3em;
				}
				.main-currency-pubDate {
					font-size: 0.9em;
				}
				.col-xs-5 img {
					padding-left: 1em;
					height: 7em;
				}
		}
		
/*строка для отображения списка валют*/
.table-row-currency-all {
	margin-left: 3em;
	margin-right: 3em;
	border-top: 1px solid #ddd;
}

/* модуль ресурсов строка изменений вверх или вниз */
.resource-info-up {
	color: red;
}

.resource-info-down {
	color: green;
}

/* тень для выделения иконки валюты на белом фоне*/
.col-xs-5 > img
{
-webkit-filter: drop-shadow(3px 5px 5px #000);
filter: drop-shadow(3px 5px 5px #000);
}
.col-xs-2 > img
{
-webkit-filter: drop-shadow(3px 5px 5px #000);
filter: drop-shadow(3px 5px 5px #000);
}
/****** end Default Page *******/